*.exe
*.ilk
*.pdb
*.exp
*.lib
*.map

*.rdbg

*.hex
*.LogisimImage
*.lst
*.sym

bin/obj
bin/LinuxTestingSuite
bin/MarieAssembler
project.el

win32GUI_MarieAssembler/.vs
win32GUI_MarieAssembler/bin/*
win32GUI_MarieAssembler/obj/*
win32GUI_MarieAssembler/*.vbproj.user