*.exe
*.ilk
*.pdb
*.exp
*.lib
*.map

*.rdbg

*.hex
*.LogisimImage
*.lst
*.sym

bin/obj
bin/LinuxTestingSuite
bin/MarieAssembler
project.el

src/win32GUI_MarieAssembler/.vs
src/win32GUI_MarieAssembler/bin/*
src/win32GUI_MarieAssembler/obj/*
src/win32GUI_MarieAssembler/*.vbproj.user